<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity HD Test Suite" parallel="false" thread-count="1">
    <test verbose="2" preserve-order="true" name="HomeDelivery" enabled = "false">
        <classes>
                <class name="HDAppiumTests" />
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="WareHousing" >
        <classes>
            <class name="WHAppiumTests"/>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="KeyHolder" enabled="false" >
        <classes>
            <class name="KHAppiumTests"/>
        </classes>
    </test>
</suite>